/dist/
/directssh
/directssh.exe
/experiments/tcp-simopen/build/
/experiments/tcp-simopen/tcp-simopen
/experiments/tcp-simopen/tcp-simopen.exe
*.key
*.pem
.env
.env.*
.venv/
__pycache__/
*.pyc
.DS_Store
